

<div class="router-outlet">
    
</div>


<div class="table-container align-items-center">
    <div class="row align-items-start">
        <div class="col-9">
            <div class="container col">
                <app-page-list></app-page-list>
                <!-- <app-adding-dialog></app-adding-dialog> -->
                
            </div>
        </div>
    </div>
</div>
<!-- 
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->


