
.table-container {
    margin-top: 150px;  /* Adjust this value to move the table down */
    margin-left: 60px; /* Adjust this value to move the table to the right */
    width: 2000px;
}
.custom-header {
    background-color: #1DB954; /* Spotify green */
    color: white; /* Text color */
}