::ng-deep .mat-dialog-container {
  max-height: 80vh; /* Adjust as needed */
  overflow: auto;
}

.mat-dialog-content {
  max-height: 70vh; /* Adjust as needed */
  overflow-y: auto;
  overflow-x: hidden;
}

/* Custom scrollbar styles */
::ng-deep .mat-dialog-container::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

::ng-deep .mat-dialog-container::-webkit-scrollbar-track {
  background: #2c2c2c; /* Match the dialog background color */
}

::ng-deep .mat-dialog-container::-webkit-scrollbar-thumb {
  background: #4c4c4c; /* Slightly lighter to make it visible */
  border-radius: 10px;
}

::ng-deep .mat-dialog-container::-webkit-scrollbar-thumb:hover {
  background: #5c5c5c; /* Slightly lighter for hover effect */
}