<div class="page-list-container">
<mat-card appearance="outlined">
  <body>
    <div class="row ">
      <div class="col-4 ">
        <mat-form-field matBadge="{{this.rowCount}}" matBadgeSize="large" appearance="fill">
          <mat-label>Choose Form Page</mat-label>
          <mat-select (selectionChange)="selectedPage=($event.value)">
            <mat-option *ngFor="let page of PageDataSource" [value]="page.Id">
              {{ page.Name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="getir-button align-items-start">
        <button matTooltip="Get the current page records." 
            [matTooltipShowDelay]="this.tooltipOpenTime"
            [matTooltipHideDelay]="this.tooltipCloseTime"
            mat-fab extended style="background-color: #56474f; color: white; width: 100px;"
          (click)="GetPageValues(0, paginator.pageSize)">GET</button>
      </div>
      <div class="ekle-button align-items-start">
        <button matTooltip="Add a new row to this page." mat-fab extended style="background-color: #56474f; color: white; width: 100px;"
          (click)="openDialog()">ADD</button>
      </div>
    </div>

    <!--  -->
    <div *ngIf="PageDatas">
      <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      [length]="rowCount"
      aria-label="Select page"
      showFirstLastButtons
      (page)="onPaginatorChange($event.pageIndex,$event.pageSize)"
      
      style="background-color: #232323; color: white; height: 51px;">
    </mat-paginator>

    </div>
     


    <table mat-table [dataSource]="PageDatas" class="mat-elevation-z8">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <div *ngIf="column !== 'Actions'">
          <mat-header-cell style="background-color: #1DB954; color: white;" *matHeaderCellDef> {{ column }}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element[column] }}
          </mat-cell>
        </div>
        <div *ngIf="column === 'Actions'">
          <mat-header-cell style="background-color: #1DB954; color: white;" *matHeaderCellDef> {{ column }}</mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element[column] }}
            <button matTooltip="Delete this row." 
            [matTooltipShowDelay]="this.tooltipOpenTime"
            [matTooltipHideDelay]="this.tooltipCloseTime"
            mat-icon-button (click)="deleteElement(element.Id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button matTooltip="Update desired value/s." 
            [matTooltipShowDelay]="this.tooltipOpenTime"
            [matTooltipHideDelay]="this.tooltipCloseTime"
            mat-icon-button (click)="editElement(element.Id)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </div>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>


  </body>
</mat-card>
</div>
